div
        h1='Product view'
        br
        if productsViewExist
            div
                table
                    tr
                        th='Name'
                        th='Price'
                        th='Thumbnails'
                        each prod in productsView
                            tr
                                td=prod.title
                                td=prod.price
                                td
                                    img(src=prod.thumbnail alt="not found")
        else
            h3='Not found'
        br
        a(href="/" type="button")='Save new products'